*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;    
    overflow-x: hidden;
}

header, footer{
    height: 10%;
    width: 100%;
    background-color: skyblue;
    display: flex;
    justify-content: left;
    align-items: center;
    
    a{
        text-decoration: none;
        color: white;
    }
}
.cabecera1{
    text-align: left;
    width: 33%;
    padding: 20px;
}

.cabecera2{
    text-align: center;
    width: 33%;
}

.cabecera3{
    text-align: right;
    width: 33%;
    padding: 20px;
}

.pie1{
    width: 50%;
    height: auto;
    text-align: left;
    padding: 20px; 
}

.pie2{
    width: 50%;
    text-align: right;
    padding: 20px;
}

.pie3{
    width: 33%;
    text-align: center;
}

main{
    width: 100%;
    height: 80%;
    margin: 10px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}